*.tar
*.tar.gz
*.tar.xz

volumes/

networks/

.docker-compose-logs/

node_modules/

build/
dist/

*.log

.env
.env.local
.env.development.local
.env.production.local
.env.test.local

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?