.dropdown__container {
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
}

.dropdown__title {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid var(--gray-color);
    border-radius: 6px;
    padding-inline: 20px;
    font-size: 14px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    cursor: pointer;
    transition: .2s;
}

.dropdown__title:hover {
    border-color: var(--blue-color);
}

.arrow-btn {
    width: 16px;
}

.dropdown__menu--hide, .dropdown__menu--show {
    overflow: hidden;
    margin-top: 4px;
    border-radius: 6px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    top: 100%;
    width: 100%;
    left: 0;
    box-sizing: border-box;
    background-color: white;
    border: 2px solid var(--gray-color);
    overflow-y: auto;
    animation: animIn .8s forwards;
    transition: .2s;
}

.dropdown__menu--hide{
    pointer-events: none;
    animation: animOut .25s forwards !important;
}

@keyframes animIn{
    0%{
        height: 0;
    }
    30%{
        height: 240px;
    }
    60%{
        height: 190px;
    }
    100%{
        height: 200px;
    }
}

@keyframes animOut {
    0%{
        height: 200px;
    }
    70%{
        opacity: 1;
        filter: blur(0px);
    }
    100%{
        height: 0px;
        filter: blur(10px);
        opacity: 0;
    }
}

.menu__item:hover {
    background-color: var(--gray-color);
}

.menu__item{
    flex-shrink: 0;
    box-sizing: border-box;
    text-align: left;
    cursor: pointer;
    width: 100%;
    padding: 6px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: .3s;
}

.advanced-item {
    font-weight: 700;
}